.page_container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  cursor: pointer;
}
.background_1 {
  height: 100%;
  position: relative;
  width: 100%;
}
.box_1 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 40px;
  height: 800px;
  justify-content: flex-start;
  left: 0px;
  padding-bottom: 140px;
  padding-top: 90px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.box_0 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 24px;
  height: 633px;
  justify-content: flex-start;
  position: relative;
  width: 500px;
}
.box_2 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 10px;
  height: 24px;
  justify-content: flex-start;
  position: relative;
  width: 548px;
}
.molecule_0 {
  flex: none;
  flex-grow: 0px;
  height: 24px;
  position: relative;
  width: 24px;
}
.text_1 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}
.box_3 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 20px;
  height: 300px;
  justify-content: flex-start;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  position: relative;
  width: 500px;
}
.text_0 {
  align-self: stretch;
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.box_6 {
  align-items: center;
  background-color: #ddd;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: center;
  width: 100%;
}
.text_3 {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  word-break: break-word;
}
.row_1 {
  height: 300px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
}
.form_1 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.box_4 {
  background-color: transparent;
  margin-bottom: 24px;
  width: 100%;
}
.button_1 {
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}
