.page_container {
  align-items: flex-start;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: flex-start;
  position: relative;
  width: 1440px;
}
.background1 {
  flex: none;
  flex-grow: 0px;
  height: 800px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.container8 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 40px;
  height: 800px;
  justify-content: flex-start;
  left: 0px;
  padding-bottom: 140px;
  padding-top: 90px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.wrapper8 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 24px;
  height: 633px;
  justify-content: flex-start;
  position: relative;
  width: 500px;
}
.info_header5 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 10px;
  height: 24px;
  justify-content: flex-start;
  position: relative;
  width: 548px;
}
.iconssafarichevronbackward1 {
  flex: none;
  flex-grow: 0px;
  height: 24px;
  position: relative;
  width: 24px;
}
.text5 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Merriweather;
  font-size: 14px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
}
.card8 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 20px;
  height: 300px;
  justify-content: flex-start;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  position: relative;
  width: 500px;
}
.text7 {
  align-self: stretch;
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.row_1 {
  height: 300px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  width: 100%;
}
.form_1 {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  width: 100%;
}
.input_2_container {
  background-color: transparent;
  margin-bottom: 24px;
  width: 100%;
}
.input_2_inner {
  background-color: transparent;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 100%;
}
.input_2_label {
  color: #000;
  display: inline;
  font-weight: bold;
  margin-right: 10px;
}
.input_2_required {
  color: #f00;
  display: inline;
  font-weight: bold;
}
.content_input {
  background-color: white;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: 1px;
  font-weight: 500;
  width: 100%;
}
.content {
  background-color: transparent;
  width: 100%;
}
.input_2_error_message_container {
  background-color: transparent;
  margin-top: 10px;
  width: 100%;
}
.input_2_error_message_text {
  color: #f00;
  display: inline;
  font-weight: bold;
}
.form_1_button {
  margin-top: 40px;
  width: 100%;
  cursor: pointer;
}
