.page_container {
  align-items: center;
  background-color: #0d0d0d;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  display: flex;
  flex-direction: row;
  gap: 4px;
  height: 56px;
  justify-content: center;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  position: relative;
  width: 335px;
}
.text10 {
  color: #ffffff;
  flex: none;
  flex-grow: 1px;
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  position: relative;
  text-align: center;
  vertical-align: top;
}
