.page_container {
  align-items: center;
  background-color: #ffffff;
  border-bottom-color: #eaeaea;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-color: #eaeaea;
  border-left-style: solid;
  border-left-width: 1px;
  border-radius: 4px;
  border-right-color: #eaeaea;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #eaeaea;
  border-top-style: solid;
  border-top-width: 1px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 56px;
  justify-content: flex-start;
  padding-bottom: 16px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 16px;
  position: relative;
  width: 180px;
}
.text14 {
  color: #c4c4c4;
  flex: none;
  flex-grow: 1px;
  font-family: Noto Sans JP;
  font-size: 13px;
  font-weight: 400;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
