.page_container {
  align-items: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: flex-start;
  position: relative;
  width: 1440px;
}
.background1 {
  flex: none;
  flex-grow: 0px;
  height: 800px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.container18 {
  align-items: center;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 40px;
  height: 800px;
  justify-content: flex-start;
  padding-bottom: 140px;
  padding-top: 140px;
  position: relative;
  width: 1440px;
}
.wrapper18 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 24px;
  height: 353px;
  justify-content: flex-start;
  position: relative;
  width: 484px;
}
.header_info6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 24px;
  height: 32px;
  justify-content: center;
  position: relative;
  transform: rotate(-180deg);
  width: 484px;
}
.text5 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 1px;
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.text6 {
  color: #e86c37;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 13px;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  text-align: center;
  vertical-align: middle;
}
.note110 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 83px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  width: 484px;
}
.wrapper_note110 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 43px;
  justify-content: flex-start;
  position: relative;
  width: 460px;
}
.text9 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.text10 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 11px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.ic_linedelete1 {
  flex: none;
  flex-grow: 0px;
  height: 24px;
  position: relative;
  width: 24px;
}
.note214 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 83px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  width: 484px;
}
.wrapper_note214 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 43px;
  justify-content: flex-start;
  position: relative;
  width: 460px;
}
.text13 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.text14 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 11px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.ic_linedelete2 {
  flex: none;
  flex-grow: 0px;
  height: 24px;
  position: relative;
  width: 24px;
}
.note318 {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  height: 83px;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  width: 484px;
}
.wrapper_note318 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 10px;
  height: 43px;
  justify-content: flex-start;
  position: relative;
  width: 460px;
}
.text17 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.text18 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 11px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.ic_linedelete3 {
  flex: none;
  flex-grow: 0px;
  height: 24px;
  position: relative;
  width: 24px;
}
.background_opacity19 {
  background-color: rgba(0, 0, 0, 0.5);
  flex: none;
  flex-grow: 0px;
  height: 800px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.modal_confirm_delete22 {
  align-items: center;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-grow: 0px;
  gap: 20px;
  height: 162px;
  justify-content: flex-start;
  left: 470px;
  padding-bottom: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 32px;
  position: absolute;
  top: 100px;
  width: 500px;
}
.text21 {
  color: #0f0f0f;
  flex: none;
  flex-grow: 0px;
  font-family: Noto Sans JP;
  font-size: 22px;
  font-weight: 900;
  line-height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
}
.button_wrapper22 {
  align-items: flex-start;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0px;
  gap: 12px;
  height: 56px;
  justify-content: flex-start;
  position: relative;
  width: 460px;
}
.common_button1 {
  align-items: center;
  background-color: #e06262;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  cursor: pointer;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 1px;
  gap: 4px;
  height: 56px;
  justify-content: center;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  position: relative;
  width: 224px;
}
.common_button2 {
  align-items: center;
  background-color: #0d0d0d;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612);
  cursor: pointer;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 1px;
  gap: 4px;
  height: 56px;
  justify-content: center;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  position: relative;
  width: 224px;
}
